@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;

700&family=Raleway:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway:wght@800&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1208px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

body.locked {
  overflow: hidden;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.select {
  width: 100%;
  position: relative;
  z-index: 10;
}

.select__backdrop {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  z-index: -1;
  display: none;
}

.select.open {
  background: rgba(61, 64, 80, 0.85);
}

.select.open .select__dropdown {
  border-top: none;
  display: block;
}

.select.open .select__input {
  border-bottom: none;
  border-color: #3D4050;
  color: #fff;
  background: rgba(61, 64, 80, 0.85);
}

.select.open .select__backdrop {
  display: block;
}

.select__input {
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #fff;
  border-radius: 3px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  cursor: pointer;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.select__input .select__arrow {
  pointer-events: none;
  width: 15px;
}

.select__input .select__arrow.open {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.select__input span {
  pointer-events: none;
}

.select__dropdown {
  display: none;
  position: absolute;
  border: 1px solid #3D4050;
  border-radius: 5px;
  top: 46px;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
  background-color: #272733;
}

.select__dropdown::-webkit-scrollbar-track {
  background: #3D4050;
  border-radius: 3px;
}

.select__dropdown::-webkit-scrollbar {
  width: 7px;
}

.select__dropdown::-webkit-scrollbar-thumb {
  background: #3E9CDC;
  border-radius: 3px;
}

.select__dropdown .select__list .select__item {
  padding: 10px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.select__dropdown .select__list .select__item.selected {
  color: #3E9CDC;
}

.select__dropdown .select__list .select__item:hover {
  color: #3E9CDC;
}

nav {
  min-height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(16, 16, 29, 0.9);
  overflow: hidden;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 33px;
  text-transform: uppercase;
}

.logo a {
  color: #fff;
}

.logo a span {
  color: #42A9ED;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  margin-left: 25px;
}

.menu__item-link {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.menu__item-link:hover {
  color: #3E9CDC;
}

.burger {
  display: none;
  cursor: pointer;
}

.hero {
  height: 100vh;
  background-image: url(../img/header.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__container {
  padding-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 80px;
}

.hero__title {
  max-width: 800px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
}

.hero__title span {
  color: #3E9CDC;
}

.hero__body h2 {
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.hero__body ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.hero__body ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/tire.svg);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;
}

.hero__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.hero__order {
  max-width: 183px;
  width: 100%;
  padding: 15px 10px;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  background-color: #3E9CDC;
  border: 1px solid #fff;
  border-radius: 4px;
}

.hero__order:hover {
  color: #2A2B30;
  background-color: #fff;
  border: 1px solid #6F6D7B;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.hero__details {
  max-width: 183px;
  width: 100%;
  padding: 15px 10px;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #2A2B30;
  background-color: #fff;
  border: 1px solid #6F6D7B;
  border-radius: 4px;
}

.hero__details:hover {
  color: #fff;
  background-color: #3E9CDC;
  border: 1px solid #fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.order {
  background-image: url(../img/order_bg.svg);
  background-repeat: no-repeat;
  background-color: #272733;
}

.order__container {
  padding: 130px 20px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order h2 {
  max-width: 480px;
  width: 100%;
  margin: 0 0 30px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 43px;
  color: #fff;
}

.order h2 span {
  color: #3E9CDC;
}

.order p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #BBB;
}

.order img {
  width: 100%;
  margin: 80px 0;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.order__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.order__form button[type=submit] {
  min-width: 370px;
  padding: 15px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  background: #3E9CDC;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.order__form button[type=submit]:hover {
  background: #fff;
  color: #3E9CDC;
}

.order__top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.order__top input {
  width: 100%;
  min-height: 48px;
  padding: 12px 10px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #fff;
  border-radius: 3px;
  color: #272733;
  outline: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.order__top input::-webkit-input-placeholder {
  color: #272733;
}

.order__top input::-moz-placeholder {
  color: #272733;
}

.order__top input:-ms-input-placeholder {
  color: #272733;
}

.order__top input::-ms-input-placeholder {
  color: #272733;
}

.order__top input::placeholder {
  color: #272733;
}

.order__top input:focus {
  background: white;
}

.order__bottom {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}

.order__range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.order__range_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order__range_top p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.order__range_top span {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.85);
}

.order__range input[type=range] {
  height: 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #fff;
  border-radius: 3px;
  cursor: pointer;
}

.order__range input[type=range]::-webkit-slider-thumb {
  height: 22px;
  width: 22px;
  -webkit-appearance: none;
  appearance: none;
  margin-top: -3px;
  background: #42A9ED;
  border: 3px solid #286690;
  border-radius: 50%;
}

.order__range input[type=range]:focus::-webkit-slider-thumb {
  outline: 3px solid #42A9ED;
}

.order__file {
  padding-left: 10px;
  position: relative;
  display: inline-block;
}

.order__file input[type=file] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.order__file span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  position: relative;
  min-height: 48px;
  vertical-align: middle;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #272733;
  background: #fff;
  border: 2px solid #3E9CDC;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.order__file span:hover {
  background: #3E9CDC;
  color: #fff;
}

.footer {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  background-color: #3D4050;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}

.footer__copy {
  color: #fff;
}

.footer__divider {
  width: 1px;
  height: 18px;
  background-color: #C3C3C3;
}

.footer__payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  color: #C3C3C3;
}

.footer__contact {
  color: #fff;
}

.footer__contact a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.footer__contact a:hover {
  color: #3E9CDC;
}

@media (max-width: 1449.98px) {
  .container {
    max-width: 1168px;
  }

  .footer__container {
    gap: 20px;
  }
}

@media (max-width: 1050px) {
  .footer__container {
    gap: 10px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
  }

  .footer__container {
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }

  .footer__copy {
    text-align: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .footer__divider {
    display: none;
  }
}

@media screen and (max-width: 991.98px) {
  .menu {
    position: fixed;
    background: #131418;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;
  }

  .menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    pointer-events: all;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 22;
    -webkit-animation: fade 0.1s linear;
            animation: fade 0.1s linear;
  }

  .burger {
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
    z-index: 102;
    cursor: pointer;
  }

  .burger.active-burger:before {
    background: #fff;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    top: 8px;
  }

  .burger.active-burger:after {
    background: #fff;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 10px;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger.active-burger span {
    color: #fff;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .burger:before,
  .burger:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    color: #fff;
    background: #fff;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger:before {
    top: 0;
  }

  .burger::after {
    bottom: 0;
  }

  .burger span {
    position: absolute;
    top: 9px;
    right: 0;
    width: 100%;
    color: #fff;
    background: #fff;
    height: 2px;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .menu__item {
    margin-top: 15px;
  }

  .menu__item-link {
    color: #fff;
  }
}

@media (max-width: 768.98px) {
  .container {
    max-width: 740px;
  }

  .logo {
    font-size: 22px;
    line-height: 26px;
  }

  .hero {
    height: auto;
  }

  .hero__container {
    padding: 150px 20px 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }

  .hero__title {
    text-align: center;
    font-size: 32px;
    line-height: 32px;
  }

  .hero__btns {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .hero__order {
    max-width: 130px;
  }

  .hero__details {
    max-width: 130px;
  }

  .order__container {
    padding: 50px 20px;
  }

  .order h2 {
    font-size: 28px;
    line-height: 34px;
  }

  .order img {
    margin: 40px 0;
  }

  .order__form button[type=submit] {
    width: 100%;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }

  .order__top {
    grid-template-columns: 1fr;
  }

  .order__bottom {
    grid-template-columns: 1fr;
  }

  .order__file {
    padding: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: none;
  }

  .hero__body h2 {
    text-align: center;
    font-size: 18px;
    line-height: 20px;
  }

  .hero__body ul {
    font-size: 16px;
    line-height: 18px;
  }

  .order p {
    text-align: center;
  }

  .order__range {
    gap: 20px;
  }

  .order__range_top p {
    font-size: 13px;
    line-height: 16px;
  }

  .order__range_top span {
    font-size: 15px;
    line-height: 16px;
  }
}